{:aliases {:dev   {:extra-paths ["development/src"]

                   :extra-deps  {org.clojure/clojure   {:mvn/version "1.11.1"}
                                 poly/app              {:local/root "components/app"}
                                 poly/auth             {:local/root "components/auth"}
                                 poly/db               {:local/root "components/db"}
                                 poly/email            {:local/root "components/email"}
                                 poly/home             {:local/root "components/home"}
                                 poly/middleware       {:local/root "components/middleware"}
                                 poly/ui               {:local/root "components/ui"}

                                 poly/password-app     {:local/root "bases/password-app"}
                                 poly/single-optin-app {:local/root "bases/single-optin-app"}}}

           :test  {:extra-paths ["components/app/test"
                                 "components/auth/test"
                                 "components/db/test"
                                 "components/email/test"
                                 "components/home/test"
                                 "components/middleware/test"
                                 "components/ui/test"

                                 "bases/password-app/test"
                                 "bases/single-optin-app/test"]}

           :poly  {:main-opts  ["-m" "polylith.clj.core.poly-cli.core"]
                   :extra-deps {polylith/clj-poly {:mvn/version "0.2.19"}}}

           :build {:deps       {io.github.clojure/tools.build {:mvn/version "0.9.6"}
                                org.clojure/tools.deps        {:mvn/version "0.16.1281"}}
                   :ns-default build}}}
