{:paths   ["src" "resources"]
 :deps    {com.biffweb/biff {:git/tag "v1.8.19"
                             :git/sha "32640d2"
                             :git/url "https://github.com/jacobobryant/biff"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps  {}}}}
